{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}smh_gallery/foundation/stylesheets/foundation.min.css">
  <style type="text/css">

.clearing-assembled .clearing-container ul[data-clearing] li.fix-height img {
    min-height: 100%;
    height: 100%;
    m-width: 100%;
}
</style>

{% endblock %}

{% block one_column %}
<h1>Image Gallery</h1>
<h4>{{gallery.name}}</h4>
<p class="lead">{{gallery.description}}</p>

<ul class="thumbnails" data-clearing>
{% for image in images %}
	<!-- <li class="span3"> -->
	<table><tr><td>
    <a href="{{image.image.url}}" class="thumbnail" title="{{image.name}}">
      <img data-caption="{{image.name}}" src="{{image.image.url}}" alt="{{image.name}}" class="img_color-black img-rounded" style="width:320px;height:270px;">
    </a>
    <p class="offset3"><small>Click the image to download.</small></p>
    </td>
    <td>
    <div class="span5">
        <h2>{{image.name}}</h2>
        <h4>{{image.date}}</h4>
        <p class="lead">{{image.description}}<p>
		<h4>Public URL from TWC Cloud:</h4>
		<hr>
		<small>{{image.image.url}}</small>
		<hr>
		
    </div>

    
    </td>
    </tr></table>
  <!-- </li> -->
{% endfor %}
</ul>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}smh_gallery/foundation/javascripts/foundation.min.js"></script>
<script src="{{ STATIC_URL }}smh_gallery/foundation/javascripts/app.js"></script>
<script src="{{ STATIC_URL }}smh_gallery/js/js-smh_colorgray.js"></script>
{% endblock %}
