{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block one_column %}
<h1>Home</h1>

<h4>Steps to PUSH/DELETE Image and Video to Cloud Storage: </h4><br><br>

<a href="/admin/" target="_blank">On Admin:</a><br>
- Login to <a href="/admin/" target="_blank">Administration</a> page with your username and password.<br>
- Click Images Menu to Upload "Images" and save it.<br>
- Click Videos Menu to Upload "Videos" and save it.<br><br><br>

<h4>Steps to GET/DOWNLOAD Image and Video to Cloud Storage:</h4><br><br>

<a href="/">On Website:</a> <br>
- Click "My Image Gallery" to check the Uploaded Images from Cloud Storage.<br>
- Click "My Video Gallery" to check the Uploaded Videos from Cloud Storage.<br>

{% endblock %}
